@keyframes animateWave {
    
    0% {
        background-position-x: 1000px;
    }

    100% {
        background-position-x: 0px;
    }
}

@keyframes animateWave_02 {
    
    0% {
        background-position-x: 0px;
    }

    100% {
        background-position-x: 1000px;
    }
}